body, html {
	width: 100%;
	height: 100%;
	font-family: 'Courgette', sans-serif;
  	background: url(bonfire.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

header {
	padding-top: 5%;
}

h1 {
	font-size: 3em;
	color: darkorange;
}

.btn {
	background-color: darkorange;
	padding: 1rem 2rem;
	font-weight: 700;
	border-radius: 300px;
	border: 1px solid transparent;
	text-transform: uppercase;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.152 ease-in-out, box-shadow 0.15s ease-in-out;
}



.btn:focus {
	box-shadow: 0 0 0 0.2rem gray;
}

hr {
	border-color: darkorange;
	max-width: 65px;
}

